@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
:any-link {
    color: rgb(141, 114, 35);
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?cs=srgb&dl=pexels-vecislavas-popa-1571460.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
}

.design {
    font-family: cursive;
    position: absolute;
    margin: 30px;
    font-size: 50px ;    
} 

.navigation {
    margin: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 25px;
    float: right;
    padding-top: 55px;
    padding-left: 40%;
}

.navigation ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navigation ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background : rgb(141, 114, 35);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navigation ul li:hover::after{
    width:100%;
}

.image {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 5px;
    border-color: rgb(138, 76, 10);
    border-style: groove;
    position: absolute;
    width: 100%;
    height: 130px;
}

.content {
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
    color: antiquewhite;
}

.content h1 {
    font-size: 70px ;
}

.content p {
    font-size: 35px;
    line-height: 25px;
    margin: 20px auto;
}

.started {
    font-size: 20px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    color: rgba(131, 97, 18, 0.975) ;
}

.login {
    color: antiquewhite;
    border-radius: 30px;
    border: none ;
    font-family: 'Sevillana', cursive;
    font-size: 30px;
    font-weight: bold;
    left: 85%;
    top: 1.5%;
    position: absolute;
    text-align: center;
    width: 200px;
    padding: 10px 0;
    margin: 20px 10px;
    cursor: pointer;
    background-color: rgba(131, 97, 18, 0.975);
}

